$darkgrey: #999;

nav{
	ul{
		li{
			width: 100%;
			display: block;
			float: left;
			border-bottom: 1px dashed $darkgrey ;
			margin: 0 15px 0 15px;
			padding: 5px 0 5px 0;

			&.last{
				border-bottom:none;
			}
		}

	}
}