body {
  -webkit-text-size-adjust: none;
}

div.first {
  margin-top: 5px;
}
div.first span.right {
  display: none;
}

section ul {
  width: 75%;
  overflow: hidden;
}
section .double li {
  float: none;
  width: 100%;
}

nav {
  position: relative;
}
nav ul li {
  width: 100%;
  display: block;
  border-bottom: 1px dashed #999999;
  border-right: none;
  margin: 0 15px 0 15px;
  padding: 5px 0 5px 0;
}
nav ul li.last {
  border-bottom: none;
}
