$lightgrey: #e3e3e3;
$darkgrey: #999;
$lineheight: 25px;
$marginleft: 10px;

@mixin nomargin-nopadding {
	margin: 0px;
	padding: 0px;
}

@mixin bottom-shadow {
	-webkit-box-shadow:  0px 4px 6px 0px rgba(44, 44, 44, .8);
	box-shadow:  0px 4px 6px 0px rgba(44, 44, 44, .8);
}

@media print{
	nav {
		display : none;
	}

	#viewJson{
		display : none;
	}
}

/* elements */
body{
	@include nomargin-nopadding;
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

a{
	color: #000;
}

div{
	&.first{
		margin-top: 55px;
	}
}

section{
	h2{
		line-height: .5em;
		font-size: 1.1em;
	}
}

ul{
	margin-left: $marginleft;
	padding-left: 0px;
	list-style-type: none;

	li{
		line-height : $lineheight;

		section{
			margin: 0 0 6px 0;
		}
	}
}


nav{
	width: 100%;
	background-color: $lightgrey;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px 0 10px 0;
	z-index: 9999;

	@include bottom-shadow;

	ul{
		margin: 0 auto;
		padding: 0px;
		text-align: center;
	}

	li{
		padding: 0 1.1em 0 1.1em;
		display: inline;
		border-right: 1px dashed $darkgrey;
		text-shadow: white 0px 1px 0px;

		&.last { 
			border-right:0 none; 
		}
	}	
}

section{
	ul{
		width:800px;
		overflow: hidden;
	}
	.double li{
		float:left;
		width: 30%;
	}
	h1{
		margin-bottom: 0px;
		padding-bottom: 5px;
		margin-right: 10px;
		margin-top: .8em;
		border-bottom: 1px solid $lightgrey;
	}
	p{
		margin: 5px 0 5px $marginleft;
		line-height: $lineheight;
	}

	.label, .content{
		display: inline-block;
	}

	.label{
		font-weight: bold;
		width: 150px;
		text-align: right;
		padding-right:.5em;
	}

	.content{
	  vertical-align: top;
	  width: 600px;
	}

	div{
		span{
			line-height:1.5em;
		}
	}

	dt{
		float: left;
		width: 120px;
		clear:left;
		text-align: right;
		line-height: 20px;
	}
	dd{
		display: block;
		margin-left: 160px;
		line-height: $lineheight;
	}
}

span{
	&.right{
		position: absolute;
		right: 2em;
	}
}

footer{
	padding: 25px 10px 25px 0;
	text-align: right;
	font-size: .8em;
}

/* ids */
#content{
	margin-left:1.2em;
}

/* classes */
.name{
	font-size: 3em;
	border: 0 none;
}