$darkgrey: #999;

body{
	-webkit-text-size-adjust: none;
}

div{
	&.first{
		margin-top:5px;

		span{
			&.right{
				display:none;
			}
		}
	}
}

section{
	ul{
		width:75%;
		overflow: hidden;
	}
	.double li{
		float: none;
		width: 100%;
	}
}

nav{
	position:relative;

	ul{
		li{
			width: 100%;
			display: block;
			border-bottom: 1px dashed $darkgrey ;
			border-right: none;
			margin: 0 15px 0 15px;
			padding: 5px 0 5px 0;

			&.last{
				border-bottom:none;
			}
		}
	}
}